<h1><%= User.human_attribute_name(:followers) %></h1>
<% if @user.followers.present? %>
  <%= render 'user_list', users: @users %>
<% else %>
  <p><%= t('announcement.no_date') %></p>
<% end %>
<%= paginate @users %>
<%= link_to t('views.common.back'), @user %>
