<h1><%= t('views.common.title_show', name: DailyReport.model_name.human) %></h1>

<p>
  <strong><%= DailyReport.human_attribute_name(:title) %>:</strong>
  <%= @daily_report.title %>
</p>

<p>
  <strong><%= DailyReport.human_attribute_name(:content) %>:</strong>
  <%= @daily_report.content %>
</p>

<%= render 'comments/form', commentable: @daily_report, comment: @comment %>

<% if current_user == @daily_report.user %>
  <%= link_to t('views.common.edit'), edit_daily_report_path(@daily_report) %> |
<% end %>
<%= link_to t('views.common.back'), daily_reports_path %>
